@charset 'utf-8';

/* ----------------------------------------------------- Comment */

.js div { } /* apply only on JavaScript enabled browsers */
.ie7 div { } /* apply only on Internet Explorer 7 and below */
.ie6 div { } /* apply only on Internet Explorer 6 and below */

body {
    color: #262626;
    background: #f4f4f4;
    font: normal 12px/18px Verdana, sans-serif;
}

#content {
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 0 60px 30px 60px;
    border: solid 1px #cbcbcb;
    background: #fafafa;
    -moz-box-shadow: 0px 0px 10px #cbcbcb;
    -webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

h1 {
    margin: 50px 0 15px 0;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    color: #aaa;
}

h1 span {
    font-size: 50%;
    letter-spacing: -0.05em;
}

hr {
    border: none;
    height: 1px; line-height: 1px;
    background: #E5E5E5;
    margin-bottom: 20px;
    padding: 0;
}

p {
    margin: 0;
    padding: 7px 0;
}

a {
    outline: none; 
    text-decoration: none;
    line-height: 2.5em;
    padding: 0.5em;
}

ul { margin-top: 3em;}

li {
  margin: 1em;
  font-size: 1.5em;
  line-height: 2.5em;
}

li  a{
  
}

 a:link {color: #D83024;}        /* specificity = 1,1 */
 a:visited {color: #D02216;}   /* specificity = 1,1 */
 a:hover {background-color: #FF6000; color: #fff;}    /* specificity = 1,1 */
 a:active {color: #F9F0CC;}       /* specificity = 1,1 */

 #mainmenulink {
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
 }

a img {
    border: 1px solid #BBB;
    padding: 2px;
    margin: 10px 20px 10px 0;
    vertical-align: top;
}

a img.last {
    margin-right: 0;    
}

ul {
    margin-bottom: 24px;
    padding-left: 30px;
}